.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonWrapper>button {
    margin-left: 4px;
    margin-right: 8px;
}

.buttonWrapper:not(:last-child) {
    margin-bottom: 16px;
}

.button {
    background-color: rgb(76, 129, 182);
}

.table {
    width: 100%;
    overflow: auto;
}

.tableHeader {
    font-weight: 700;
}